@charset "utf-8";
/** Fuentes */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background-color: #070707;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: #1db954;
}

h1, h2 {
    font-weight: 700;
    text-align: center;
}

h2 {
    font-size: 3em;
    color: #1db954;
}

main {
    min-height: calc(100vh - 8em);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #070707;
}

button, select {
    background-color: #1db954;
    color: white;
    padding: 1em;
    margin: 1em;
    font-size: 1.5em;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s ease;
}

main div.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
    margin-top: 3em;
}

main div.galeria > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    color: #000000;
    border-radius: 15px;
    width: 40%; 
    max-width: 400px; 
    transition: transform 0.3s ease;
}

main div.galeria img {
    width: 100%; 
    height: auto;
    max-height: 250px;
    border-radius: 10px;
    margin-bottom: 1em;
    object-fit: cover;
}

main div.galeria h3 {
    font-size: 1.8em;
    text-align: center;
    margin: 0.5em 0;
}

main div.galeria p {
    font-size: 1.4em;
    text-align: center;
    margin: 0.5em 0;
    word-wrap: break-word; 
}

#contadorDiscos {
    font-size: 3em; 
    color: #1db954;
    font-weight: 700;
    margin-top: 1em;
    text-align: center;
}

.album-card {
    display: inline-block;
    margin: 15px;
    vertical-align: top;
}

.card {
    background-color: #ffffff;
    overflow: hidden;
}

.card img {
    max-width: 100%;
    height: auto;
}

.card-body {
    padding: 10px;
    font-family: Arial, sans-serif;
}

.text-success {
    color: green;
}

.lista-canciones {
    list-style: none;
    padding:0
}

footer {
    background-color: #1db954;
    color: #ffffff;
    padding: 1.5em 0;
    text-align: center;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li a {
    color: #d0e0e3;
    text-decoration: none;
}

footer ul li a:hover {
    color: #a2c4c9;
}


@media screen and (min-width: 960px) {
    main div.galeria > div {
        width: 30%; 
    }
}